<div class="header">
  <h1 id= 'ciao' >THAT'S COCKTAIL
  <%= cl_image_tag("northern-border-collection-art-cocktail-homepage-background_uoytqr",
      width: 900, height: 300, crop: :fill) %></h1>
</div>
<div class="card">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
  </div>
  <li ><%= link_to cocktail.name, cocktail_path(cocktail.id) %></li>
  <% end %>
</div>
<p id='button-link' ><%= link_to 'Add a new cocktail', new_cocktail_path %></p>

